@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Roboto');
@font-face {
    font-family: 'HelveticaNeueLTPro-Lt';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue LT Pro 45 Light'), url('https://nomail.com.ua/files/woff/5ef4e382220d057ab771e76cf6117c68.woff') format('woff');
}
@font-face { 
    font-family: 'TheSonnyfive';  
    src: local('TheSonnyfive'), 
        url('https://nomail.com.ua/files/woff/8a102d331f1085a4e479f69a50bfd619.woff') format('woff'); 
}


html, body{
    width:100%;
    height:100%;
    margin:0px;
}

section:nth-child(2n+1){
    width:100%;
    height:100%;
    position:relative;
    background-color: white;
}

section:nth-child(2n){
    background-color: #1d1d1d;
    width:100%;
    height:100%;
    position:relative;
}
nav{
    margin: 0 auto;
}
li{
    list-style-type:none;
    display: inline-block;
    margin: 0px 22.5px;
}
a{
    text-decoration: none;
}
.navigationItems:hover{
    color: black;
}
.navigationItems {
    transition: 0.3s;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.5px;
  text-align: center;
  color: #989696;
}
.classH{
    width: 55px;
    height: 55px;
  font-family: Roboto;
    background-color: black;
    color: white;
}
.el{
  width: 10px;
  height: 10px;
  background-color: #d0d0d0;
  border-radius: 50%;
    margin: 12px auto;
}
.lipse1 {
  opacity: 0.33;
}
.lipse2 {
  opacity: 0.66;
}

.dotting{
/*    position: absolute;*/
    bottom: 0px;
}



h1 {
  margin: 0;
  font-family: 'TheSonnyfive';
  font-size: 44px;
  font-weight: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #1d1e1f;
}

h2 {
  margin: 0;
  font-family: 'HelveticaNeueLTPro-Lt';
  font-size: 34px;
  font-weight: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #1d1e1f;
}

.services  h2 {
    color:white;
}

.caption {
  font-family: 'Merriweather';
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.5px;
  text-align: center;
  color: #898888;
}
.readMoreButton {
  width: 188px;
  height: 57px;
/*  background-color: #000000;*/
  border: solid 1px #000000;
}
.readMore {
  width: 85px;
  height: 9px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.5px;
  text-align: center;
  color: #000000;
}

.vh{
    height: 100%;
    background-color: white;
    width: 5px;
    margin: 0px auto;
}
.circle{
    width:20px;
    height: 20px;
    border: solid white 5px;
    border-radius: 50%;
    position: absolute;
    right:calc(50% - 15px);
    background-color: #1d1d1d;
}
.y2011{
    top:151px;
}
.y2012{
    top:272px;
}
.y2013{
    right:calc(50% - 25px);
    width:40px;
    height:40px;
    top:505px;
}
.y2014{
    top:746px;
}
.city{
    top:0px;
    width: 100%;
    height: 205px;
/*    background-color: #1d1d1d;*/
    position: relative;
}
.Background-city-black {
/*    top:-58px;*/
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 236px;
}
.Background-city {
/*    top:px;*/
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 236px;
    
}
